<div class="app-left-body-block">


  <!--  Список избранные закрепы -->
  <app-clip-list *ngIf="userService.currentUserBox && userService.currentUserBox.favouritesClips.length > 0"
                 title="Избранное"
                 class="app-clip-view"
                 [clips]="userService.currentUserBox.favouritesClips"></app-clip-list>

  <!-- Список созданных пользвоателем закрепов -->
  <app-clip-list *ngIf="clipMethodService.clipsCreating.length > 0"
                 title="Ваши закрепы"
                 class="app-clip-view"
                 [clips]="clipMethodService.clipsCreating"></app-clip-list>

</div>

<!--компонент для создания закрепа-->
<app-clip-create #clipCreate></app-clip-create>


