<div class="block-max-fixed-master not-scroll-master app-index">
  <div class="center">
    <!-- Логотип-->
    <div class="logo-master"><img src="departament/img/logo.png"/></div>

    <!-- Поле поиска-->
    <div class="app-index-find-body">
      <app-find #find flagMenu="flagMenu" flagUsers="flagUsers"></app-find>
    </div>

    <!-- Для мобильных устройств: Выводим списки связанные с закрепами и тд-->
    <div class="mobil-border-master">

      <!-- Компонент для работы событий -->
      <app-event-view></app-event-view>

      <!-- Компонент для работы закрепов -->
      <app-clip-view></app-clip-view>

      <!-- Компонент для работы с новостями-->
      <app-news-view [isHeader]="false"></app-news-view>

      <!--  Блок для модераторов-->
      <div *ngIf="roleService.isModeratorOf_2_LevelAndHigher()">
        <!-- Выводим список лимитов -->
        <app-event-limit-view [view]="false"></app-event-limit-view>

        <!-- Выводим список сезонов -->
        <app-event-season-view [view]="false"></app-event-season-view>
      </div>


    </div>

  </div>
</div>
