.app-event-body {
  transition: .3s;
}

.app-event-body .description{
  font-size: 20px;
  font-weight: 600;
}


.app-event-body:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  transition: .3s;
}

.app-event-body .time{
  text-align: right;
  padding: 15px 0 0 0;
}
.app-event-body .time.have-limit .name {
  font-size: 24px;
  font-weight: 800;
}
.app-event-body .time.have-limit .hour {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
}

.app-event-body .time.not-have-limit .hour {
  font-size: 23px;
  font-weight: 600;
  padding: 5px 0;
}

.app-event-body .clips-light {
  font-size: 13px;
  padding: 10px 0;
}
.app-event-body .clips-light span.title{
  opacity: .5;
}
.app-event-body .clips-light span.body{
  opacity: .8;
}
