<div class="app-event-body pointer-master border-radius-master backOfBack" (click)="open()">

<!-- Главный текст события-->
  <div class="description" [outerHTML]="getDescription()">
  </div>

  <div class="clips-light">
    <div *ngFor="let clip of this.clipMethodService.getClipsWithoutClipArgument(eventBody)">
      <span class="title">{{this.clipMethodService.getClipTypesOfId(clip.typeClipId).name}} </span>
      <span class="body">{{clip.name}}</span>
    </div>
  </div>

  <div class="time have-limit" *ngIf="limit != null">
    <div class="name color-special-master">{{limit.name}}</div>
    <div class="hour">{{eventBody.time.timeFrom.substr(0,5)}} - {{eventBody.time.timeTo.substr(0,5)}}</div>
  </div>

  <div class="time not-have-limit" *ngIf="limit == null">
    <div class="hour color-special-master">{{eventBody.time.timeFrom.substr(0,5)}} - {{eventBody.time.timeTo.substr(0,5)}}</div>
  </div>

<!--  <p-tieredMenu #menu [model]="menuItem"></p-tieredMenu>-->
<!--  <button (click)="menu.toggle($event);"></button>-->



</div>
