<!--Само всплывающее окно-->
<p-dialog class="app-clip-create" header="Закреп" *ngIf="isLoad"
          [(visible)]="isDisplay"
          [style]="{width: '30vw'}"
          [modal]="true"
          [blockScroll]="true"
          [draggable]="false">

  <!-- Форма для отправки на сервера-->
  <form [formGroup]="clipCreateForm" class="form" style="opacity: {{ loadService.status()?'1': '.4'}}">

    <!-- Название закрепа-->
    <input id="nameInput"
           class="input-1-master backOfBack"
           type="text"
           placeholder="Название"
           formControlName="name"/>

    <!-- Описание закрепа-->
    <textarea
      id="descriptionTextarea"
      class="input-1-master backOfBack"
      style="margin-top: 15px;margin-bottom: 15px;"
      placeholder="Описание"
      rows="5" cols="30"
      pInputTextarea
      [autoResize]="true"
      formControlName="description"></textarea>

    <!-- Список для выбора типа закрепа-->
    <p-dropdown [options]="clipService.clipTypes"
                [(ngModel)]="selectedClipType"
                emptyFilterMessage="Отсутствуют типы"
                placeholder="Тип закрепа"
                optionLabel="name"
                [showClear]="true"
                formControlName="typeClip">
      <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedClipType">
          <div class="clip-link-master">
            <img class="icon" src="{{selectedClipType.icon}}" [class]="'flag flag-1'"/>
            {{selectedClipType.name}}
          </div>
        </div>
      </ng-template>
      <ng-template let-cliptype pTemplate="item">
        <div class="clip-link-master">
          <img class="icon" src="{{cliptype.icon}}" [class]="'flag flag-1'"/>
          {{cliptype.name}}
        </div>
      </ng-template>
    </p-dropdown>

    <div style="height: 20px"></div>

    <!-- Список для выбора марки-->
    <p-dropdown [options]="markService.allMarks"
                placeholder="Родительская группа"
                optionLabel="name"
                emptyMessage="Отсутствуют"
                [(ngModel)]="mark"
                [showClear]="true"
                [filter]="true"
                formControlName="mark">

    </p-dropdown>

  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="{{this.editClip == null? 'Создать': 'Сохранить'}}"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>
</p-dialog>

