<div class="app-find">
  <div class="grid">
    <div class="col">

      <!-- Инпут поиска-->
      <span class="p-input-icon-right">
        <i *ngIf="isFinding" class="pi pi-spin pi-spinner"></i>
        <input class="input-1-master backOfBack" type="text" placeholder="{{placeholder != null? placeholder: 'Группа, Преподователь и тд'}}"
               [(ngModel)]="value" (input)="change()" pInputText/>
      </span>
    </div>

    <!-- Меню-->
    <div class="col-fixed" style=" padding-left: 1px; padding-right: 1px;" *ngIf="flagMenu === 'flagMenu'">
      <app-main-menu></app-main-menu>
    </div>
  </div>

  <!-- Блок отвечающий за вывод информации что ничего не найдено и ссылка на создание закрепа-->
  <p class="label-link-master"
     style="padding: 0;"
     *ngIf="isFinding == false && value.length > 0 && find.users.length == 0 && find.clips.length == 0">
    <span class="text">результата нет </span> <span class="link" *ngIf="roleService.isModeratorOf_2_LevelAndHigher()" class="link" (click)="openClipCreate()"> создать </span>

    <!-- Блок отвечающий за вывод закрепов при поиске-->
  <div class="buttons" *ngIf="!notClip && find != undefined && find.clips != undefined">
    <app-clip-link flagRouter="{{this.selectClip.observers.length == 0?'': 'flagRouter'}}" [clip]="clip"
                   *ngFor="let clip of find.clips" (click)="openClip(clip)"></app-clip-link>
  </div>

  <!-- Блок отвечающий за вывод пользователей при поиске-->
  <div class="buttons" *ngIf="flagUsers && find != undefined && find.users != undefined">
    <app-clip-link  flagRouter="{{this.selectUser.observers.length == 0?'': 'flagRouter'}}" [user]="user" *ngFor="let user of find.users" (click)="openUser(user)"></app-clip-link>
  </div>

</div>

<app-profile #profile></app-profile>
