.app-find {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.app-find .buttons{

  text-align: left;
}
.app-find .input{
  border: 0;
  border-radius: 0;
  padding: 13px 15px;
  width: 100%;
  font-size: 16px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-find .p-input-icon-right{
  width: 100%;
}
.app-find .p-input-icon-right > i:last-of-type {
  right: 0.8rem;
  color: #6c757d;
}




