.app-left-body {
  position: fixed;
  top: 0;
  left: 0;

  width: 320px;
  height: 100%;
  z-index: 1100;

  overflow-y: scroll;

  padding-bottom: 330px;
}

.app-left-body-find {
  padding: 25px 15px;
}
