<div class="app-left-body border-right-master back not-scroll-master">
  <div class="{{!loadService.status()?'loading-master': ''}}">

    <!-- Компонент поиска-->
    <div class="app-left-body-find">
      <app-find flagMenu="flagMenu" flagUsers="flagUsers"></app-find>
    </div>

    <!-- Компонент для работы событий -->
    <app-event-view></app-event-view>

    <!-- Компонент для работы закрепов -->
    <app-clip-view title="Избранное"></app-clip-view>

    <!--  Блок для модераторов-->
    <div *ngIf="roleService.isModeratorOf_2_LevelAndHigher()">
      <!-- Выводим список лимитов -->
      <app-event-limit-view></app-event-limit-view>

      <!-- Выводим список сезонов -->
      <app-event-season-view></app-event-season-view>
    </div>

    <!-- Компонент для работы с новостями-->
    <app-news-view></app-news-view>

    <!-- Компонент для работы марок-->
    <app-mark-view></app-mark-view>

    <!-- Компонент для работы донатов-->
    <app-donat-view></app-donat-view>


    <!-- Компонент для работы администратора-->
    <app-admin-view *ngIf="roleService.isModeratorOf_3_LevelAndHigher()"></app-admin-view>

    <!-- Компонент для работы рекламы-->
    <app-ads-view></app-ads-view>

  </div>
</div>
