<!--  Блок в котором мы указываем временные рамки для события-->
<p-dialog class="app-event-create-time-dialog"
          header="Время события"
          [(visible)]="isDisplay"
          [style]="{width: '33vw'}" [modal]="true">

  <!-- Список уже созданных событий для выбора-->
  <div class="list-master">
    <div class="item" *ngFor="let item of eventService.allEventLimits"
         (click)="selectInputTime(item)">
      <div class="name">{{item.name}}</div>
      <div class="time">{{item.timeFrom}} - {{item.timeTo}}</div>
    </div>
  </div>

<!-- Ручное указание лимита события-->
  <div class="grid" style="margin-top: 17px">
    <div class="col-5">
      <!-- Время начала события-->
      <p-calendar [(ngModel)]="timeFrom"
                  [timeOnly]="true"
                  hourFormat="24"
                  placeholder="Время начала"></p-calendar>
    </div>
    <div class="col-5">
      <!--  Время конца события-->
      <p-calendar [(ngModel)]="timeTo"
                  [timeOnly]="true"
                  hourFormat="24"
                  placeholder="Время конца"></p-calendar>
    </div>

    <div class="col-2">
      <!-- Выбрать время указанное сверху -->
      <button pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-rounded p-button-text"
              (click)="selectInputTime()"></button>
    </div>
  </div>


</p-dialog>
