<div class="warn-block backOfBack border-radius-master">
  <div class="name">{{warn.text}}</div>
  <div class="date">{{warn.createdDate }}</div>
  <div class="date">ID соз. пол. - {{warn.createUserId}}</div>
  <a *ngIf="warn.objectLink != null" class="label-link-master link" href="{{warn.objectLink}}" target="_blank">ссылка на страницу</a>
  <div class="object">
    <a class="label-link-master link" href="{{warnMethodService.getLinkOnObject(warn)}}" target="_blank">{{warnMethodService.getObjectNameByType(warn)}}: {{warn.objectId}}</a>
  </div>
</div>
