<div class="warn-page">
  <h1>{{title}}</h1>
  <div>Предупреждений: {{warns.length}}</div>
  <div style="padding: 20px 0;">
    <button *ngIf="warns.length > 0" #btn pButton pRipple
            type="button"
            class="p-button-rounded p-button-text arrow-btn"
            label="Очистить"
            (click)="clear();"></button>
  </div>

  <!--Выводим сеткой ошибки-->
  <div class="warn-page-warns">
    <div class="grid" style="margin: 0;">
      <div class="col-3" *ngFor="let warn of warns">
        <app-warn-block [warn]="warn"></app-warn-block>
      </div>
    </div>
  </div>
</div>

