<!-- непосредственно само меню-->
<app-actions-page
  (closeEvent)="close()"
  title="{{news?.name}}"
  [width]="true"
  #page>
  <ng-template appHeaderTemplate>
    <div class="news-main-block" *ngIf="newsBody != null">
      <div [innerHTML]="newsBody.text" class="text"></div>
      <div>
        <span>Ссылка на новость: </span>
        <span>{{newsMethodService.getLinkNews(news)}}</span>
      </div>

      <div class="buttons-body-master">

<!--        <input class="input-clipboard-master" type="text" value="qweqweqweqweqw" #userinput>-->
<!--        <p-button styleClass="button-1-master backOfBack" label="Ссылка на новость"-->
<!--                  icon="pi pi-copy"-->
<!--                  (click)="this.functionService.copyMessageInClipBoard(userinput, 'Ссылка скопирована')"></p-button>-->

        <ng-container *ngIf="roleService.isAdmin()">
          <p-button *ngIf="news.isActive == true"
                    [disabled]="isPinnedProcess"
                    class="div {{isPinnedProcess?'opactity-animation-master': ''}}"
                    styleClass="button-1-master backOfBack" label="{{news.isPinned == true? 'открепить':'закрепить'}}"
                    icon="pi pi-paperclip"
                    (click)="pinnedNews(news)"></p-button>

          <p-button [disabled]="isActiveProcess"
                    class="div {{isActiveProcess?'opactity-animation-master': ''}}"
                    styleClass="button-1-master backOfBack"
                    label="{{news.isActive == true? 'остановить':'восстановить'}}"
                    icon="pi pi-eye"
                    (click)="activeNews(news)"></p-button>

          <p-button class="div"
                    styleClass="button-1-master backOfBack" label="Изменить"
                    icon="pi pi-eye"
                    (click)="editNews(news)"></p-button>
        </ng-container>

      </div>
    </div>
  </ng-template>
</app-actions-page>

