<div class="block-max-fixed-master app-login">

  <!-- Логотип-->
  <div class="logo-master"><img src="departament/img/logo.png"/></div>

  <!-- Форма отправки данных на вход-->
  <form [formGroup]="loginForm" class="form">

    <!-- Поле - почта -->
    <div class="p-field p-grid">
      <div class="p-col">
        <input id="emailinput"
               type="text"
               class="input-1-master notradius"
               placeholder="Почта"
               formControlName="username">
      </div>
    </div>

    <!-- Поле - пароль-->
    <div class="p-field p-grid">
      <div class="p-col">
        <input
          id="passwordinput"
          type="password"
          class="input-1-master notradius"
          placeholder="Пароль"
          formControlName="password">
      </div>
    </div>

    <re-captcha id="recaptcha"
                name="recaptcha"
                (resolved)="resolved($event)"
                #recaptcha="ngModel"
                [(ngModel)]="token"
                required
                [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>


    <!-- Кнопка - войти-->
    <div class="buttons">
      <button
        class="button-1-master backOfBack"
        [disabled]="!loadService.status()"
        (click)="submit();">войти
      </button>
    </div>

  </form>

  <!-- Ссылка на страницу входа-->
  <p class="label-link-master"><span class="text">Для регистрации вам </span> <span class="link"
                                                                              routerLink="/register"> сюда </span>

</div>
