<!-- тест рекламы -->
<app-actions-page
  title="{{ads?.name}}"
  description="{{ads?.description}}"
  background="{{ads?.imageUrlMobil}}"
  [width]="true" #page>
  <ng-template appHeaderTemplate>
    <div class="news-main-block" *ngIf="adsBody != null">
      <div [innerHTML]="adsBody.text" class="text"></div>

      <div *ngIf="roleService.isAdmin()" class="buttons-body-master">
        <p-button [disabled]="isActiveProcess"
                  class="div {{isActiveProcess?'opactity-animation-master': ''}}"
                  styleClass="button-1-master backOfBack" label="{{ads.isActive == true? 'остановить':'восстановить'}}"
                  icon="pi pi-eye"
                  (click)="activeAds(ads)"></p-button>
      </div>
    </div>
  </ng-template>
</app-actions-page>

