<div id="adsMainBlock" class="showAds" *ngIf="showingAds != null && isDisplay">
  <div class="ads border-radius-master"
       style="background: url({{deviceService.isPC()?showingAds.imageUrlPc:showingAds.imageUrlMobil}}); background-size: cover;"
       (click)="openAds();">
    <button class="information" (click)="getInformation(); $event.stopPropagation()">реклама</button>
  </div>
</div>
<app-ads-create #adsCreate></app-ads-create>

<img id="ads_img_load" (load)="imgLoad()" style="opacity: 0;height: 10px;">

<!--компонент для вывода полной информации рекламы-->
<app-ads #ads></app-ads>
