.showAds {
  z-index: 999;
}

.showAds .ads{
  background: blue;
  display: flex;
  width: 100%;
  height: 100%;

  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  transition: .2s;
  cursor: pointer;
}


.showAds .ads:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, .4);
  transition: .4s;
}

.showAds .ads .information {
  font-size: 11px;
  border-radius: 20px;
  height: 24px;
  position: absolute;
  right: 8px;
  border: 0;
  cursor: pointer;

  box-shadow: 0 0 4px rgba(0,0,0, .3);
}
