.donat-view {
  padding: 15px 20px;
  border-radius: 5px;
}

.donat-view:hover {
  transition: .3s;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.donat-view .title {
  font-size: 15px;
  font-weight: bold;
}
.donat-view .information {
  font-size: 12px;
  opacity: .6;
  margin: 3px 0;
  cursor: pointer;
}

.donat-view .information:hover {
  text-decoration: underline;
}
