<div class="app-left-body-block" *ngIf="this.donatService.allDonates.length > 0">

  <h3>Спасибо вам!</h3>

  <div class="donat-view backOfBack" style="margin: 15px 0">
    <div class="information" (click)="getInformation()">Получи особенную тему для всей группы, и отличительную корону!</div>

    <div class="lines">
      <app-chart-line *ngFor="let donat of this.donatService.allDonates; let i = index"
                      [index]="i"
                      [name]="donat.clip.name"
                      [ownCount]="donat.coins"
                      [allCount]="allSum"
                      (click)="chartClick(donat.clip)"
      ></app-chart-line>
    </div>
  </div>
</div>

<!--Отвечает за блок создания донат-->
<app-donat-create #donatCreate></app-donat-create>
