

.app-clip-body .header{
  padding-top: 20px;
  padding-bottom: 12px;
  padding-right: 0;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.app-clip-body .circle {
  border: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  line-height: 60px;
  text-align: center;
}
.app-clip-body .circle .crown {
  position: absolute;
  top: 63%;
  left: 63%;

  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.app-clip-body .circle .crown:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.5);
  transition: .3s;
}
.app-clip-body .circle .crown img{
  height:12px;
  vertical-align: middle;
}


.app-clip-body .circle .icon {
  height: 50%;
  margin-top: 5px;
  vertical-align: middle;
}

.app-clip-body .header .name{
  font-weight: bold;
  padding: 5px 0;
}

.app-clip-body .header .last-edit{
  font-size: 13px;
}
.app-clip-body .header .last-edit span{
  opacity: .6;
}

.app-clip-body .header .name-clip{
  opacity: .6;
}

.app-clip-body .header .description{
  font-size: 14px;
  opacity: .7;
  max-width: 400px;

  margin-top: 2px;
}


.app-clip-body .buttons{
  padding: 15px 0 0 0;
  overflow-x: scroll;
  white-space: nowrap;
}
.app-clip-body .buttons button{
  margin: 2px;
  margin-right: 5px;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 20px;
}


