

<div id="app-clip-body" class="app-clip-body" *ngIf="isDisplay">
  <div id="clip_header" class="header right-page-border-left-master back">
    <!--    <div class="clip-link-master" style="margin-left: -6px;"><img class="icon" src="{{this.clipService.getClipTypesOfId(clip.typeClipId).icon}}"/>{{this.clipService.getClipTypesOfId(clip.typeClipId).name}}</div>-->

    <!--  Главная информация о закрепе-->
    <div class="grid">
      <div class="col-fixed">
        <div class="circle backOfBack">
          <img class="icon" src="{{this.clipMethodService.getClipTypesOfId(clip.typeClipId).icon}}"/>
          <div class="crown color-special-back-master" *ngIf="donatMethodService.isMaxDonate(clip)"><img src="assets/static/img/crown.png" alt=""></div>
        </div>
      </div>
      <div class="col relative-master">
        <div class="name-clip">{{this.clipMethodService.getClipTypesOfId(clip.typeClipId).name}}</div>
        <div class="name">{{clip.name}}</div>
        <div class="last-edit" *ngIf="lastEdit != null"><span>последние изменения:</span> {{functionService.getStringDate(this.lastEdit)}}</div>
        <div class="description" *ngIf="deviceService.isPC() && clip.description.length > 0">{{clip.description}}</div>

<!--        &lt;!&ndash; Кнопка для того что бы скрыть/показать панель с кнопками&ndash;&gt;-->
<!--        <button *ngIf="!deviceService.isPC()" #btn pButton pRipple type="button" icon="pi {{isDisplayBtn? 'pi-angle-down':'pi-angle-up'}}"-->
<!--                class="p-button-rounded p-button-text arrow-btn" (click)="toggleButtons();"></button>-->
      </div>
    </div>

    <!-- Кнопки для взаимодействия с закрепом-->
    <div class="buttons not-scroll-master" *ngIf="isDisplayBtn && roleService.isUserAuth()">

      <!-- Если на закреп еще не подписан пользователь-->
      <button pButton pRipple icon="pi {{clipMethodService.isFavorite(clip.id)?'pi-check':'pi-bookmark'}}"
              [disabled]="isFavoriteDeleting || isFavoriteAdding" type="button"
              label="{{clipMethodService.isFavorite(clip.id)?'в избранном':'в избранное'}}"
              class="p-button-rounded button-none-master backOfBack  {{isFavoriteDeleting || isFavoriteAdding?'opactity-animation-master': ''}}"
              style="opacity: {{clipMethodService.isFavorite(clip.id)? '0.6': '1'}}"
              (click)="toggleFavouritesClick(clip.id)"></button>

      <button *ngIf="clipMethodService.isFavorite(clip.id)" pButton pRipple
              icon="pi {{clipMethodService.isMain(clip.id)?'pi-check': 'pi-paperclip'}}"
              [disabled]="isMainClipAdding" type="button"
              label="{{clipMethodService.isMain(clip.id)?'старотовая': 'сделать стартовой'}}"
              class="p-button-rounded button-none-master backOfBack {{isMainClipAdding?'opactity-animation-master': ''}}"
              style="opacity: {{clipMethodService.isMain(clip.id)? '0.6': '1'}}"
              (click)="addMainClip(clip.id)"></button>

      <button  *ngIf="roleService.isUserAuth()" pButton pRipple icon="pi pi-send" type="button"
              label="Сообщить об ошибке" class="p-button-rounded button-none-master backOfBack"
              (click)="openWarnPage()"></button>


      <button *ngIf="deviceService.isPC() && roleService.isModeratorOf_2_LevelAndHigher()" pButton pRipple icon="pi pi-calendar" type="button"
              label="Создать событие" class="p-button-rounded button-none-master backOfBack"
              (click)="openEventCreate()"></button>

      <button *ngIf="deviceService.isPC() && roleService.isModeratorOf_2_LevelAndHigher()" pButton pRipple icon="pi pi-pencil" type="button"
              label="Изменить" class="p-button-rounded button-none-master backOfBack"
              (click)="openEditClipPage()"></button>

      <button *ngIf="deviceService.isPC() && roleService.isAdmin()" pButton pRipple icon="pi pi-dollar" type="button"
              label="Донат" class="p-button-rounded button-none-master backOfBack"
              (click)="openDonatPage()"></button>
    </div>
  </div>

  <!-- Для адаптации-->
  {{initCssParameters()}}

  <!-- Компонент для работы рекламы на мобильных устройствах-->
  <app-ads-view *ngIf="!deviceService.isPC()"></app-ads-view>

  <!-- Для вывода событий закрепа в разрезе недель-->
  <div class="app-clip-body-events" *ngIf="clip != undefined">
    <app-clip-week [clip]="clip" [events]="events"></app-clip-week>
  </div>

  <!-- Кнопка для мобильных устройств, что можно было вернуться в главное меню-->
  <button *ngIf="!deviceService.isPC()" class="mobil_router_button"><img src="assets/homeblack.png" alt="Домой"
                                                                         routerLink="/index"></button>
</div>


<!-- Так как в мобильной версии нет левого тулбара, то для работы с событями мобильному устройству нужен этот блок тут-->
<app-event-view *ngIf="!deviceService.isPC()"></app-event-view>

