<div class="app-chart-line">
  <div class="title color-special-master {{index == 0?'crown':''}}">
    {{name}}
    <img *ngIf="index == 0" src="assets/static/img/crown.png" alt="">
  </div>
  <div class="line backOfBackMax">
    <div class="line-chart backOfWhite" style="width: {{width}}%"></div>
  </div>
</div>
