.app-chart-line {
  padding: 10px 0;
  cursor: pointer;
}

.app-chart-line .title {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}

.app-chart-line:hover .title{
  text-decoration: underline;
}

.app-chart-line .title.crown {
  position: relative;
}

.app-chart-line .title.crown img{
  position: absolute;
  top: 50%;
  right: 0;
  height: 18px;
  margin-top: -9px;
  margin-right: -24px;
}
.app-chart-line .line{
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  overflow: hidden;
  margin: 4px 0;
}

.app-chart-line .line-chart{
  height: 5px;
}
