<div class="app-admin-view">
  <div class="list-master app-left-body-block">

    <div *ngIf="allUsersIsModerators.length != 0">
      <h3>Модераторы</h3>
      <!-- Список всех лимитов-->
      <div class="item" *ngFor="let user of allUsersIsModerators">
        <div class="name">{{user.name}} #{{user.id}}</div>
        <div class="time">{{userMethodService.getNameRoleById(user.role)}}</div>
        <a class="time label-link-master link" [routerLink]="['/warn/user',user.id]" target="_blank">Предупреждения: {{warnMethodService.getCountWarnsByUser(user.id)}}</a>
      </div>
    </div>
  </div>
</div>
