.user-current-page {
  padding: 10px 15px 0 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0, .3);
  text-align: left;
}

.user-current-page .user-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
}

.user-current-page .user-icon img{
  height: 14px;
}

.user-current-page .name {
  font-size: 20px;
  font-weight: bold;
}

.user-current-page .id {
  opacity: .5;
}


