<div class="app-main-menu">


  <!-- непосредственно само меню-->
  <app-actions-page [items]="items" title="Главное" #page>
    <ng-template appHeaderTemplate *ngIf="this.roleService.isUserAuth()">
      <div class="user-current-page">
        <div class="grid">
          <div class="col-fixed">
            <div class="user-icon backOfBack"><img src="assets/user.png"/></div>
          </div>

          <div class="col">
            <div class="name">{{userService.currentNameUser}}</div>
            <div class="id">ID: <strong>{{userService.currentUser.id}}</strong></div>
          </div>

          <div class="col-fixed">
            <button pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-text" (click)="logOut()"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </app-actions-page>


  <!-- Данная кнопка открывает всплывающее меню-->
  <button #btn pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"
          (click)="page.open()"></button>
</div>





