<!--Само всплывающее окно-->
<p-dialog class="app-event-season-create" header="Группа" *ngIf="isLoad" [(visible)]="isDisplay"
          [style]="{width: '30vw'}"
          [modal]="true"
          [blockScroll]="true"
          [draggable]="false">

  <!-- Форма для отправки на сервера-->
  <form [formGroup]="markCreateForm" class="form" style="opacity: {{ loadService.status()?'1': '.4'}}">

    <!-- Название марки-->
    <input id="nameInput"
           class="input-1-master backOfBack"
           type="text"
           placeholder="Название"
           [(ngModel)]="nameValue"
           formControlName="name"/>


    <div style="height: 20px"></div>

    <!-- Список для выбора марки родителя-->
    <p-dropdown [options]="markService.allMarks"
                styleClass="dropdown-1-master"
                placeholder="Родительская группа"
                optionLabel="name"
                emptyMessage="Отсутствуют"
                [(ngModel)]="parentMark"
                [showClear]="true"
                [filter]="true"
                formControlName="parentMark">

    </p-dropdown>


  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="{{this.editMark == null?'Создать':'Изменить'}}"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>
</p-dialog>
