<p-dialog class="app-profile"
          header="{{user.name}}"
          *ngIf="isLoad"
          [(visible)]="isDisplay"
          [style]="{width: '50vw'}"
          [modal]="true">
<!--  header="{{user.name}}"-->


  <div class="grid" style="opacity: {{ loadService.status()?'1': '.4'}}">
    <div class="col-fixed">
      <p-tieredMenu [model]="items"></p-tieredMenu>
    </div>

    <div class="col" style="padding: 10px;">
      <h3 style="margin: 0">Данные: </h3>
      <div class="user-id">Почта: <strong>{{user.email}}</strong></div>
      <div class="user-id">ID пользователя: <strong>{{user.id}}</strong></div>
      <div class="user-id">Статус: <strong [innerHTML]="getStateUser()"></strong></div>

      <div style="height: 20px"></div>
      <h3 style="margin: 0">Роль: </h3>
      <div class="role-not" *ngIf="user.protectedId == null">нет роли</div>
      <div class="role-have color-special-master" *ngIf="user.protectedId != null">{{showRole()}}</div>

      <div style="height: 20px"></div>

      <ng-container *ngIf="clips.length > 0">
        <!-- Список созданных пользователем закрепов -->
        <app-clip-list *ngIf="clips.length > 0"
                       title="Закрепы"
                       [targer]="true"
                       [clips]="clips"></app-clip-list>

      </ng-container>

    </div>

  </div>
</p-dialog>
