:host ::ng-deep .ui-slidemenu {
  width: 13.5em
}

.app-profile {

}
.app-profile .role-not{
  font-size: 13px;
  font-style: italic;
  opacity: .4;
}
.app-profile .role-have{
  font-size: 13px;
  font-weight: bold;
}

.app-profile .user-id {
}


