<div class="app-event-limit-list list-master app-left-body-block">

  <div *ngIf="eventService.allEventSeasons.length != 0 && view != false">
    <h3>Сезоны</h3>
    <!-- Список всех лимитов-->
    <div class="item" *ngFor="let item of eventService.allEventSeasons"
         (click)="openViewSeason(item);">
      <div class="name">
        {{item.name}}
        <span *ngIf="item.state == 0" style="font-size: 13px; color: #3fa500;">Активный</span>
        <span *ngIf="item.state == 1" style="opacity: .5; font-size: 13px;">Не активный</span>
      </div>
      <div class="time">{{item.dateFrom | date :'dd.MM.yyyy'}} - {{item.dateTo | date :'dd.MM.yyyy'}}</div>
    </div>
  </div>


  <!-- Окно вывода информации и изменения сезона -->
  <p-dialog styleClass="page-master" header="Сезон"
            [(visible)]="isDisplayPageView"
            [style]="{width: '35vw'}"
            [modal]="true"
            [blockScroll]="true"
            [draggable]="false">

    <div *ngIf="selectedSeason != null">
      <div class="header">Название</div>
      <div class="name">{{selectedSeason.name}}</div>

      <div style="height: 20px"></div>

      <div class="header">Временные рамки</div>
      <div class="text">{{selectedSeason.dateFrom | date :'dd.MM.yyyy'}}
        - {{selectedSeason.dateTo | date :'dd.MM.yyyy'}}</div>

      <div style="height: 20px"></div>

      <div class="header">Описание</div>
      <div class="text">{{selectedSeason.description}}</div>

      <div style="height: 20px"></div>

      <div class="buttons">
        <p-button *ngIf="roleService.isModeratorOf_3_LevelAndHigher()"
                  styleClass="button-1-master backOfBack" label="изменить" icon="pi pi-pencil"
                  (click)="openEditSeason(selectedSeason);"></p-button>

        <p-button *ngIf="roleService.isModeratorOf_3_LevelAndHigher() && selectedSeason.state != null"
                  styleClass="button-1-master backOfBack" label="{{selectedSeason.state == 0?'Блокировать':'Активировать'}}" icon="pi pi-trash"
                  (click)="selectedSeason.state == 0? blockEventSeason(selectedSeason.id): activeEventSeason(selectedSeason.id)"></p-button>

        <p-button *ngIf="roleService.isModeratorOf_3_LevelAndHigher()"
                  styleClass="button-1-master backOfBack" label="удалить" icon="pi pi-trash"
                  (click)="deleteEventSeason(selectedSeason.id)"></p-button>
      </div>
    </div>

  </p-dialog>

</div>


<!--компонент для создания и изменения сезона-->
<app-event-season-create #eventSeasonCreate></app-event-season-create>
