<div class="app-clip backOfBack" *ngIf="user != undefined" [title]="user.name">
  {{user.name}}
  <span class="id">{{user.id}}</span>
</div>

<div
  *ngIf="clip != undefined"
  [title]="clip.name + ' ' + clip.description"
  class="app-clip clip-link-master backOfBack"
  (click)="clickClip();">
  <img class="icon" src="{{this.clipMethodService.getClipTypesOfId(clip.typeClipId).icon}}"/> {{getName()}}
  <div class="close backOfBack" *ngIf="flagClose" (click)="closeClip();"><img src="assets/img/close.png"/></div>
</div>
