.app-clip {
  display: inline-block;
  padding: 6px 15px;
  font-size: 13px;
  cursor: pointer;
  transition: .3s;

  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.app-clip .id {
  opacity: .5;
}


.app-clip .icon {

}

