<div class="app-event-limit-list app-left-body-block">

  <div *ngIf="eventService.allEventLimits.length != 0 && view != false">
    <h3>Лимиты</h3>
    <!-- Список всех лимитов-->
    <div class="list-master">
      <div class="item" *ngFor="let item of eventService.allEventLimits"
           (click)="openViewLimit(item);">
        <div class="name">{{item.name}}</div>
        <div class="time">{{item.timeFrom.substr(0,5)}} - {{item.timeTo.substr(0,5)}}</div>
      </div>
    </div>
  </div>

  <!-- Окно вывода информации о лимите и изменения -->
  <p-dialog styleClass="page-master" header="Лимит" [(visible)]="isDisplayPageView"
            [style]="{width: '30vw'}" [modal]="true">

    <div *ngIf="selectedLimit != null">
      <div class="header">Название</div>
      <div class="name">{{selectedLimit.name}}</div>

      <div style="height: 20px"></div>

      <div class="header">Временные рамки</div>
      <div class="text">{{selectedLimit.timeFrom.substr(0, 5)}} - {{selectedLimit.timeTo.substr(0, 5)}}</div>

      <div style="height: 20px"></div>


      <div class="buttons">
        <p-button *ngIf="roleService.isModeratorOf_3_LevelAndHigher()"
                  styleClass="button-1-master backOfBack" label="изменить" icon="pi pi-pencil"
                  (click)="openEditLimit(selectedLimit);"></p-button>
        <p-button *ngIf="roleService.isModeratorOf_3_LevelAndHigher()"
                  styleClass="button-1-master backOfBack" label="удалить" icon="pi pi-trash"
                  (click)="deleteEventLimit(selectedLimit.id)"></p-button>
      </div>
    </div>
  </p-dialog>
</div>

<!--компонент для создания лимита событий-->
<app-event-limit-create #eventLimitCreate></app-event-limit-create>
