<!--Строка загрузки-->
<div class="loadingbar">
  <p-progressBar mode="{{loadService.status() && loadService.statusLazy() && loadService.loadNumber == 0?'determinate': 'indeterminate'}}"
                 [style]="{'height': '6px', 'opacity' : '1'}"></p-progressBar>
</div>

<div class="app" *ngIf="isDisplay">

  <!-- Левый тул бар-->
  <app-left-body *ngIf="deviceService.isPC()"></app-left-body>

  <!-- Роутер-->
  <div class="router-body left-padding-master">
    <router-outlet></router-outlet>
  </div>


  <!-- Блок уведомлений-->
  <p-toast [breakpoints]="deviceService.getBreakPoints()" styleClass="toast-master"></p-toast>

  <!-- Блок предупреждения-->
  <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="header">
      <h3>Вы уверены?</h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <button class="button-1-master backOfBack" type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()"></button>
      <button class="button-1-master backOfBack" type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>


  <!-- Компонент для работы предупреждений-->
  <app-warn-view></app-warn-view>

<!-- Для работы второстепенных задач собранных в одном компоненте-->
  <app-other></app-other>


<!--&lt;!&ndash;  Элемент для копирования в буфер обмена&ndash;&gt;-->
<!--  <textarea id="text-area-for-clip-board" style="height: 10px; width: 10px; opacity: 0;"></textarea>-->
</div>
