<div class="app-donat-create">
  <p-dialog class="app-donat-create-dialog"
            styleClass="p-dialog-withbutton-master"
            header="Донат"
            [breakpoints]="deviceService.getBreakPointsPage()"
            [(visible)]="isDisplay"
            [style]="{width: '30vw'}"
            [modal]="true"
            [blockScroll]="true"
            [draggable]="false">


    <!-- сумма вложения -->
    <input id="nameInput"
           class="input-1-master backOfBack"
           type="text"
           placeholder="Цена вложения"
           [(ngModel)]="coins"
    />

    <div style="padding: 20px 0">
      <div *ngIf="clip != null">
        <h4>Закреп</h4>
        <app-clip-link [clip]="clip"></app-clip-link>
      </div>

      <div *ngIf="user != null">
        <h4>Пользователь</h4>
        <app-clip-link [user]="user"></app-clip-link>
      </div>
    </div>


    <app-find #find flagUsers="flagUsers"
              notClip="notClip"
              (selectUser)="addUser($event); find.clear();"
              placeholder="Прикрепите пользователя"></app-find>


    <div style="height: 20px"></div>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check"
                label="{{'Сохранить'}}"
                styleClass="p-button-text"
                [disabled]="!loadService.status()"
                (click)="submit()"></p-button>
    </ng-template>
  </p-dialog>
</div>
