
<div class="app-news-view app-left-body-block" *ngIf="isNotListNews != true">
  <div *ngIf="newsView.length != 0">
    <h3 *ngIf="isHeader != false">Новости</h3>
    <!-- Список всех лимитов-->
    <div class="list-master block">
      <div class="item relative {{news.isPinned?'super':''}}" *ngFor="let news of newsView; let i = index" (click)="openPageOneNews(news)">
       <ng-container *ngIf="i < countViewNews">
        <div class="name"><span class="real-name">{{news.name}}</span> <span class="group" *ngIf="news.isPinned"> закреплено</span></div>
        <div class="description" [innerHTML]="news.description"></div>
       </ng-container>
      </div>

      <div class="still_block" *ngIf="getArrayListNews().length >= countViewNews">
        <button class="still_btn backOfBack" (click)="countViewNews = countViewNews + 2; this.newsView = this.getArrayListNews()">еще</button>
      </div>
    </div>
  </div>
</div>

<!--компонент для создания новостей-->
<app-news-create #newsCreate></app-news-create>

<!--компонент для вывода одной новости-->
<app-news #news></app-news>
