<div class="app-clip-week" id="app-clip-week" *ngIf="loadService.status() && loadService.loadNumber == 0">
  <div class="week" *ngFor="let item of getArray()"
       id="{{getDayInitilator(item)}}week_one_day_{{calendarService.getDayFormat(currentDay)}}">


    <div class="week-block-information right-page-border-left-master {{item != 0?'border-top-master':''}}"
         *ngIf="currentDay.getDay() == 1 || item == 0">
      <div class="grid" style="margin: 0;">
        <div class="col-fixe" *ngFor="let week of getWeekInformation(currentDay)">
          <button class="week-circle pointer-master backOfBack {{week.busy?'true':'false'}}"
                  (click)="week.busy?scroll(week.day): notEventToDay(week.dateWeek) ">{{calendarService.weeksShort[week.index]}}</button>
        </div>
      </div>
    </div>

    <!-- Блок одного деня-->
    <div class="day-block right-page-border-left-master">

      <div class="name">
        {{calendarService.weeksShort[currentDay.getDay()]}},
        {{currentDay.getDate()}}
        {{calendarService.monthYa[currentDay.getMonth()]}}
        <button *ngIf="currentDayEvents.length == 0" class="not-events border-radius-master backOfBack">Нет событий
        </button>
      </div>

      <div class="grid" style="margin: 0;" *ngIf="currentDayEvents.length > 0">
        <div class="col-{{col}} day-events" *ngFor="let eventBody of currentDayEvents;">
          <!-- Блок события-->
          <app-event-body [eventBody]="eventBody" [clip]="clip"></app-event-body>

        </div>
      </div>

    </div>

  </div>
  <!-- Нужен для того что работала автоматическое увеличения списка недель-->
  <div id="scroll_flag" style="height: 20px;"></div>
</div>
