.app-clip-week{

}
.app-clip-week .week{
  margin: 0 0 25px 0;
}
.app-clip-week .name{
  margin: 15px 0;
  display: inline-block;
  position: relative;
  font-weight: bold;
  transition: .5s;
}

.week-circle {
  border: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 3px;
}

.week-circle.false {
  opacity: .5;
}

.app-clip-week .name .not-events {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -14px;
  height: 30px;
  border: 0;
  left: 110%;
  padding: 8px 13px;
  width: max-content;
  opacity: .6;
}

.week-block-information {
  padding: 20px 0;
}

.scroll_up .name {
  transition: .5s;
  color: #e1bc00;
}
