<div id="app_actions_page" class="app-actions-page {{width?'width':''}}" *ngIf="isDisplay"
     (click)="close()">

  <!--  Рабочая область меню-->
  <div class="main-block back {{!deviceService.isPC()?'not-scroll-master':''}}" style="text-align: left"
       (click)="$event.stopPropagation()">

    <div class="{{background?'header-block':''}}">
      <div class="header"
           style="background: url({{background}}); background-size: cover;">
        <div class="padding {{background?'shadow':'not-shadow'}}">
          <!-- Заголовок-->
          <div class="title">{{title}}</div>

          <!-- Описание -->
          <div class="description">{{description}}</div>
        </div>
      </div>
    </div>

    <div class="padding">
      <!-- Шаблон для передачи блоков для вывода пвверху от меню-->
      <ng-container *ngTemplateOutlet="headerTemplate ? headerTemplate: null"></ng-container>

      <!-- Меню-->
      <p-tieredMenu *ngIf="items.length > 0" [model]="items" (click)="isDisplay=false"></p-tieredMenu>

      <!-- Логотип-->
      <div style="text-align: center; margin-top: 10px">
        <div class="logo-master logo-size-25 padding-not"><img src="departament/img/logo.png"/></div>
      </div>
    </div>
  </div>
</div>
