.app-actions-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  z-index: 1101;
  word-wrap: break-word;
}

.app-actions-page  .header-block {

}

.app-actions-page .title {
  font-size: 30px;
  font-weight: 800;
}

.app-actions-page .main-block {
  display: inline-block;
}

.app-actions-page .padding {
  padding: 5px 25px 15px 25px;
}
.app-actions-page .padding.shadow {
  padding: 25px;
  color: white;
}
.app-actions-page .padding.not-shadow {
  padding: 25px;
  padding-bottom: 0;
}

.app-actions-page .shadow {
  background: rgba(0,0,0, .4);
  overflow: hidden;
}

.app-actions-page .header {
  overflow: hidden;
}


.app-actions-page .main-block h2 {
  text-align: left;
  padding: 0 0 10px 0;
}

.app-actions-page .button-close {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
}
