<div class="app-event-time-create backOfBack border-radius-master" *ngIf="eventTime != null">

  <div class="grid">

    <div class="col-12" style="padding: 0">

      <div class="time-padding grid">
        <div class="col">
          <!--  Время события-->
          <div class="time">{{eventTime.timeFrom.substr(0, 5)}} - {{eventTime.timeTo.substr(0, 5)}}</div>
        </div>
        <div class="col-fixed">
          <button pButton pRipple (click)="delete.emit(true)" type="button"  icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
        </div>
      </div>
    </div>

    <!--  Дни события если с датами-->
    <div class="col-12" style="padding: 0">
      <p-calendar [(ngModel)]="eventTime.dates"
                  selectionMode="multiple"
                  [readonlyInput]="true"
                  inputId="multiple"
                  dateFormat="dd.mm"
                  [styleClass]="'calenstyleclass'"
                  [inputStyleClass]="'inputstyleclass'"
                  [hideOnDateTimeSelect]="true"
                  (onSelect)="changeDate()"
                  placeholder="Добавить дату">
      </p-calendar>
    </div>
  </div>
</div>
