.app-event-time-create {
  padding: 10px 25px;
  margin: 5px;
  margin-top: 15px;
}

.app-event-time-create .time {
  font-size: 17px;
  font-weight: 800;
  padding: 17px;
  padding-left: 13px;
  padding-bottom: 0;
}

.app-event-time-create .time-padding {
  padding-top: 5px;
}

