.app-event-create {

}

.app-event-create .he-name{
  margin: 7px 0;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.app-event-create .he-name button {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 8px;
}

.jumpClips-block {
  margin-bottom: 15px;
}

.jumpClips-block .clips {

}

.jumpClips-block .block-app-find {
  margin-top: 10px;
}

.event-season-dropbox-line {

}
.event-season-dropbox-line .name{

}
.event-season-dropbox-line .date {
  font-size: 12px;
  opacity: .5;
}

.app-event-create .blocks-times{

}

.app-event-create .descriptionSimilarEvents {
}
.app-event-create .descriptionSimilarEvents .item{
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  font-size: 13px;
  max-width: 200px;
  cursor: pointer;
  margin: 2px;
  vertical-align: top;
}

.app-event-create .descriptionSimilarEvents .item p{
  margin: 1px;
}

.app-event-create .descriptionSimilarEvents .item p.copy {
  opacity: .5;
  font-size: 11px;
}

.app-event-create .descriptionSimilarEvents .item p.copy:hover{
  text-decoration: underline;
}
