<div class="app-event-create">
  <p-dialog class="app-event-create-dialog"
            styleClass="p-dialog-withbutton-master"
            header="Создание События"
            [breakpoints]="deviceService.getBreakPointsPage()"
            *ngIf="isLoad" [(visible)]="isDisplay"
            [style]="{width: '30vw'}"
            [modal]="true"
            [blockScroll]="true"
            [draggable]="false">

    <form [formGroup]="clipEventForm" class="form" style="opacity: {{ loadService.status()?'1': '.6'}}">

      <textarea
        id="descriptionTextarea"
        class="input-1-master backOfBack"
        style="margin-top: 15px;margin-bottom: 15px;"
        placeholder="Описание"
        rows="5" cols="30"
        pInputTextarea
        [(ngModel)]="description"
        [autoResize]="true"
        (input)="descriptionInput()"
        formControlName="description"></textarea>

      <div class="descriptionSimilarEvents">
        <div class="item backOfBack" *ngFor="let event of descriptionSimilarEvents" (click)="descriptionSimilarEventsOpen(event);">
          <p class="text">{{event.description.length > 40? event.description.substr(0,39) + "...": event.description}}</p>
          <p class="copy" (click)="description = event.description; descriptionSimilarEvents = []; $event.stopPropagation()">копировать текст</p>
        </div>
      </div>


      <!--  Блок со связанными закрепами-->
      <div class="jumpClips-block">
        <div class="he-name">Закрепы</div>
        <div class="clips">
          <app-clip-link flagRouter="flagRouter" [clip]="clip" *ngFor="let clip of clips" flagClose="flagClose"
                         (close)="deleteClip($event)"></app-clip-link>
        </div>
        <!-- Поле для поиска и добавление закрепа-->
        <div class="block-app-find">
          <app-find #find flagUsers="flagUsers"
                    (selectClip)="addClip($event); find.clear();"
                    placeholder="Поиск закрепов"></app-find>
        </div>
      </div>

      <!-- Блок для управления сезоном события -->
      <div class="jumpClips-block">
        <div class="he-name">Сезон</div>
        <div class="grid">
          <div class="col-10">

            <!-- Список для выбора сезона для события-->
            <p-dropdown [options]="eventService.allEventSeasons"
                        styleClass="dropdown-1-master"
                        placeholder="Выбрать"
                        optionLabel="name"
                        emptyMessage="Отсутствуют"
                        [(ngModel)]="eventSeason"
                        [showClear]="true"
                        formControlName="eventSeason">

              <ng-template let-season pTemplate="item">
                <div class="event-season-dropbox-line">
                  <div class="name">{{season.name}}</div>
                  <div class="date">{{season.dateFrom | date :'longDate'}} - {{season.dateTo | date :'longDate'}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="col-fixed">
            <!-- Открыть окно для создания сезона событий-->
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text"
                    (click)="openEventSeasonCreate()"></button>
          </div>
        </div>

      </div>
      <!--  Блок для управления временем события -->
      <div class="jumpClips-block">
        <div class="he-name">
          Время
          <!-- Добавляем новый блок времени -->
          <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text"
                  (click)="eventTimeCreatePageComponent.open()"></button>
        </div>
        <div class="grid">
          <!-- Блок компонентов для работы со временем события-->
          <div class="col">
            <div class="blocks-times">
              <app-event-time-create [eventTime]="item" *ngFor="let item of eventTimes; let i = index" (delete)="deleteEvenTime(i);"></app-event-time-create>
            </div>
          </div>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check"
                label="{{this.editEvent == null? 'Создать': 'Сохранить'}}"
                styleClass="p-button-text"
                [disabled]="!loadService.status()"
                (click)="submit()"></p-button>
    </ng-template>
  </p-dialog>


<!-- Окно для создания лимитов данному событию-->
  <app-event-time-create-page (selected)="selectedEventLimit($event)" #eventTimeCreatePageComponent></app-event-time-create-page>


</div>
