/**
Первый цвет colorBlue
 */
body.colorBlue {
  background: #27577f;
  color: white;
}

body.colorBlue .back {
  background: #27577f;
}
body.colorBlue .p-dialog .p-dialog-header {
  background: #27577f;
  color: white;
}
body.colorBlue .p-dialog .p-dialog-content,
body.colorBlue .p-dialog .p-dialog-footer,
body.colorBlue .p-calendar .p-datepicker,
body.colorBlue .block-max-fixed-master,
body.colorBlue .p-togglebutton.p-button{
  background: #27577f !important;
  color: white !important;
}
body.colorBlue .p-progressbar {
  background: rgba(39, 87, 127, 0);
}

body.colorBlue .backOfBack,
body.colorBlue .button-mini-master,
body.colorBlue .p-menu .p-menuitem-link,
body.colorBlue .p-menu .p-menuitem-link:hover,
body.colorBlue .p-menu .p-submenu-header,
body.colorBlue .p-menu,
body.colorBlue .p-tieredmenu,
body.colorBlue .p-tieredmenu .p-submenu-list,
body.colorBlue .p-dropdown,
body.colorBlue .p-multiselect,
body.colorBlue .p-multiselect-items,
body.colorBlue .p-dropdown-items,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
body.colorBlue .p-dropdown.p-dropdown-clearable .p-dropdown-label,
body.colorBlue .p-datepicker .p-datepicker-header,
body.colorBlue .p-datepicker table td > span.p-highlight,
body.colorBlue .p-datepicker table td:hover > span,
body.colorBlue .p-calendar .p-inputtext,
body.colorBlue .list-master .item:hover,
body.colorBlue .list-master.block .item,
body.colorBlue .p-multiselect-panel .p-multiselect-header,
body.colorBlue .p-highlight,
body.colorBlue .p-checkbox .p-checkbox-box,
body.colorBlue .p-button,
body.colorBlue .showAds .ads .information,
body.colorBlue .p-dropdown-panel .p-dropdown-header,
body.colorBlue .p-inputtext{
  background: #0f3859 !important;
  color: white !important;
}

body.colorBlue .p-menu-separator.ng-star-inserted{
  color: #0f3859 !important;
}

body.colorBlue .border-all-master,
body.colorBlue .p-datepicker table td.p-datepicker-today > span{
  border: 1px solid #0f3859 !important;
}

body.colorBlue .border-right-master {
  border-right: 1px solid #0f3859;
}

body.colorBlue .border-right-master {
  border-right: 1px solid #0f3859;
}

body.colorBlue .border-bottom-master {
  border-bottom: 1px solid #0f3859;
}
body.colorBlue .border-top-master{
  border-top: 1px solid #0f3859 ;
}

body.colorBlue .border-shadow-master{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}


body.colorBlue .border-bottom-light-master {
  border-bottom: 1px solid #3a6589;
}
body.colorBlue .border-top-light-master {
  border-top: 1px solid #3a6589;
}

body.colorBlue .border-top-max-master,
body.colorBlue .p-tieredmenu .p-menu-separator{
  border-top: 1px solid #08263d !important;
}

body.colorBlue .border-all-max-master,
body.colorBlue .p-inputtext.p-dropdown-filter,
body.colorBlue .p-inputtext.p-multiselect-filter{
  border: 1px solid #08263d !important;
}

/**
Первый цвет МАКСИМУМ
 */
body.colorBlue .backOfBackMax,
body.colorBlue .p-menuitem-active > .p-menuitem-link,
body.colorBlue .p-menuitem:hover,
body.colorBlue .p-menuitem .p-menuitem-link:hover,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover,
body.colorBlue .p-multiselect.p-multiselect-chip .p-multiselect-token,
body.colorBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover,
body.colorBlue .button-1-master.backOfBack:hover{
  background: #08263d !important;
  color: white !important;
}
body.colorBlue h2,
body.colorBlue h3,
body.colorBlue h4,
body.colorBlue h5,
body.colorBlue .p-dialog .p-dialog-header .p-dialog-title{
  color: #08263d;
}

body.colorBlue .color-master {
  color: #e2e2e2;
}


body.colorBlue .color-of-back-master,
body.colorBlue .p-menuitem-text,
body.colorBlue .p-menuitem-icon,
body.colorBlue .p-button.p-button-text,
body.colorBlue .label-link-master,
body.colorBlue .p-togglebutton.p-button .p-button-icon-right,
body.colorBlue .p-datepicker table td.p-datepicker-today > span,
body.colorBlue .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon,
body.colorBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item,
body.colorBlue .p-multiselect-panel .p-multiselect-header .p-multiselect-close,
body.colorBlue .app-actions-page .text a
{
  color: white !important;
}

body.colorBlue .p-menu .p-menuitem-link:hover .p-menuitem-text,
body.colorBlue .p-menu .p-menuitem-link:hover .p-menuitem-icon
{
  color: #bebebe !important;
}

body.colorBlue .backOfWhite,
body.colorBlue .p-progressbar .p-progressbar-value {
  background: #f1ebf7 !important;
}


body.colorBlue .color-special-back-master,
body.colorBlue .mobil_router_button {
  background: #e1bc00 !important;
  color: black !important;
}
body.colorBlue .color-special-master,
body.colorBlue .list-master .item.super .name .real-name{
  color: #e1bc00;
}

body.colorBlue .input-1-master::-webkit-input-placeholder,
body.colorBlue .input-1-master::placeholder,
body.colorBlue .p-calendar .p-inputtext::-webkit-input-placeholder,
body.colorBlue .p-calendar .p-inputtext::placeholder,
body.colorBlue .p-dropdown.p-dropdown-clearable .p-placeholder,
body.colorBlue .p-dropdown .p-dropdown-clear-icon,
body.colorBlue .p-dropdown .p-dropdown-trigger,
body.colorBlue .p-multiselect .p-multiselect-trigger,
body.colorBlue .p-multiselect .p-dropdown-trigger,
body.colorBlue .p-dialog .p-dialog-header .p-dialog-header-icon,
body.colorBlue .p-datepicker .p-timepicker button,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message,
body.colorBlue .placeholder{
  color: #5b7996 !important;
}


/* полоса прокрутки (скроллбар) */
body.colorBlue *::-webkit-scrollbar {
  width: 13px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
body.colorBlue *::-webkit-scrollbar-thumb {
  background-color: #08263d;
  border-radius: 4px;
}

body.colorBlue *::-webkit-scrollbar-thumb:hover {
  background-color: #041a2a;
}

