<!--Само всплывающее окно-->
<p-dialog class="app-event-limit-create" header="Новость" [(visible)]="isDisplay"
          [style]="{width: '50vw'}" [modal]="true">

  <!-- Форма для отправки на сервера-->
  <form *ngIf="createNewsForm != null" [formGroup]="createNewsForm" class="form"
        style="opacity: {{ loadService.status()?'1': '.4'}}">


    <div class="grid">
      <div class="col-6">
        <!-- Название новости-->
        <input id="nameInput"
               class="input-1-master backOfBack"
               type="text"
               placeholder="Название"
               formControlName="name"/>

        <div style="height: 15px"></div>

        <input class="input-1-master backOfBack"
               type="text"
               placeholder="Уникальное название"
               formControlName="nameUnique"/>

        <br/>
        <!-- Описание новости-->
        <textarea
          id="descriptionTextarea"
          class="input-1-master backOfBack"
          style="margin-top: 15px;margin-bottom: 15px;"
          placeholder="Описание"
          rows="5" cols="30"
          pInputTextarea
          [autoResize]="true"
          formControlName="description"></textarea>
      </div>
      <div class="col-6">
        <p-calendar inputId="basic"
                    [(ngModel)]="dateFrom"
                    placeholder="Время начала"
                    formControlName="dateFrom"></p-calendar>

        <div style="height: 15px"></div>
        <p-calendar inputId="basic"
                    [(ngModel)]="dateTo"
                    placeholder="Время конца"
                    formControlName="dateTo"
        ></p-calendar>

        <div style="height: 20px"></div>


        <!-- Список для выбора марок для новости-->
        <p-multiSelect [options]="markService.allMarks"
                       [(ngModel)]="marks"
                       [filter]="true"
                       optionLabel="name"
                       formControlName="marks"
                       display="chip"></p-multiSelect>

        <div style="height: 20px"></div>

        <div class="p-field-checkbox" style="margin-top: 6px">
          <p-checkbox (onChange)="changeIsNotification($event)" [binary]="true" inputId="binary"></p-checkbox>
          <label for="binary" style="padding: 10px;">{{isNotification == true?'Уведомлять':'Не уведомлять'}}</label>
        </div>
      </div>
    </div>


    <!-- Описание новости -->
    <div style="margin: 15px 0">
      <p-editor formControlName="text" [style]="{'height':'100%'}"></p-editor>
    </div>


  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="{{this.editNews != null?'Изменить':'Создать'}}"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>

</p-dialog>
