<div class="clips_list list-master body-self">
  <h3 *ngIf="title">{{title}}</h3>
  <div class="clips">
    <ng-container *ngFor="let clip of clips; let i = index">
      <app-clip-link
        *ngIf="i < countViewItem"
        [clip]="clip"
        [targer]="targer"></app-clip-link>

      <div class="still_btn backOfBack" *ngIf="i == countViewItem" (click)="countViewItem = countViewItem + 5">еще</div>
    </ng-container>

  </div>
</div>
