.clips_list {
  margin-bottom: 20px;
}

.clips_list .still_btn{
  display: inline-block;
  padding: 6px 15px;
  font-size: 11px;
  cursor: pointer;
  transition: .3s;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;

  opacity: .9;
}

.clips_list .still_btn:hover{
  transition: .3s;
  opacity: 1;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
}
