<!--Само всплывающее окно-->
<p-dialog class="app-event-season-create" header="Сезон событий" *ngIf="isLoad" [(visible)]="isDisplay"
          [style]="{width: '30vw'}"
          [modal]="true"
          [blockScroll]="true"
          [draggable]="false">

  <!-- Форма для отправки на сервера-->
  <form [formGroup]="eventCreateForm" class="form" style="opacity: {{ loadService.status()?'1': '.4'}}">

    <!-- Название закрепа-->
    <input id="nameInput"
           class="input-1-master backOfBack"
           type="text"
           placeholder="Название"
           [(ngModel)]="nameValue"
           formControlName="name"/>

    <!-- Описание закрепа-->
    <textarea
      id="descriptionTextarea"
      class="input-1-master backOfBack"
      style="margin-top: 15px;margin-bottom: 15px;"
      placeholder="Описание"
      rows="5" cols="30"
      pInputTextarea
      [(ngModel)]="descriptionValue"
      [autoResize]="true"
      formControlName="description"></textarea>

    <div class="grid">
      <div class="col-6">
        <p-calendar inputId="basic"
                    [(ngModel)]="dataFrom"
                    placeholder="Время начала"
                    dateFormat="dd.mm.yy"
                    formControlName="dateFrom"></p-calendar>
      </div>
      <div class="col-6">
        <p-calendar inputId="basic"
                    [(ngModel)]="dateTo"
                    placeholder="Время конца"
                    dateFormat="dd.mm.yy"
                    formControlName="dateTo"
        ></p-calendar>
      </div>
    </div>

  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="{{this.editSeason == null?'Создать':'Изменить'}}"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>
</p-dialog>

