<!-- непосредственно само меню-->
<app-actions-page
  title="Контакты"
  #pageContacts>
  <ng-template appHeaderTemplate>

    <div style="margin: 10px 0 20px">
      <a *ngFor="let contact of environmentService.getValue('contacts')"
         pButton pRipple
         type="button"
         [label]="contact.name"
         [href]="contact.link"
         target="_blank"
         style="margin: 3px;"
         class="p-button-rounded button-none-master backOfBack"></a>
    </div>
  </ng-template>
</app-actions-page>
