<!--Само всплывающее окно-->
<p-dialog class="app-event-limit-create" header="Реклама" [(visible)]="isDisplay"
          [style]="{width: '50vw'}" [modal]="true">

  <!-- Форма для отправки на сервера-->
  <form *ngIf="createNewsForm != null" [formGroup]="createNewsForm" class="form"
        style="opacity: {{ loadService.status()?'1': '.4'}}">


    <div class="grid">
      <div class="col-6">
        <!-- Название рекламы-->
        <input id="nameInput"
               class="input-1-master backOfBack"
               type="text"
               placeholder="Название"
               formControlName="name"/>

        <div style="height: 15px"></div>

        <!-- Название новости-->
        <input class="input-1-master backOfBack"
               type="text"
               placeholder="Ссылка на ресурс"
               formControlName="link"/>

        <br/>
        <!-- Описание рекламы-->
        <textarea
          id="descriptionTextarea"
          class="input-1-master backOfBack"
          style="margin-top: 15px;margin-bottom: 15px;"
          placeholder="Описание"
          rows="5" cols="30"
          pInputTextarea
          [autoResize]="true"
          formControlName="description"></textarea>
      </div>
      <div class="col-6">
        <p-calendar inputId="basic"
                    [(ngModel)]="dataFrom"
                    placeholder="Время начала"
                    formControlName="dateFrom"></p-calendar>

        <div style="height: 15px"></div>
        <p-calendar inputId="basic"
                    [(ngModel)]="dateTo"
                    placeholder="Время конца"
                    formControlName="dateTo"
        ></p-calendar>

        <div style="height: 15px"></div>

        <!-- Картинка для ПС-->
        <input class="input-1-master backOfBack"
               type="text"
               placeholder="Картинка для ПК"
               formControlName="imageUrlPc"/>

        <div style="height: 15px"></div>

        <!-- Картинка для моб. устройств-->
        <input class="input-1-master backOfBack"
               type="text"
               placeholder="Картинка для Моб."
               formControlName="imageUrlMobil"/>

      </div>
    </div>


    <!-- Описание рекламы -->
    <div style="margin: 15px 0">
      <p-editor formControlName="text" [style]="{'height':'100%'}"></p-editor>
    </div>


  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="Создать"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>

</p-dialog>
