
/**
Первый цвет colorWhiteBlue
 */
body.colorWhiteBlue {
  background: #fafafa;
  color: #333;
}

body.colorWhiteBlue .back {
  background: #fafafa;
}
body.colorWhiteBlue .p-dialog .p-dialog-header {
  background: #fafafa;
  color: #333;
}
body.colorWhiteBlue .p-dialog .p-dialog-content,
body.colorWhiteBlue .p-dialog .p-dialog-footer,
body.colorWhiteBlue .p-calendar .p-datepicker,
body.colorWhiteBlue .block-max-fixed-master,
body.colorWhiteBlue .p-togglebutton.p-button{
  background: #fafafa !important;
  color: #333 !important;
}
body.colorWhiteBlue .p-progressbar {
  background: rgba(39, 87, 127, 0);
}

body.colorWhiteBlue .backOfBack,
body.colorWhiteBlue .button-mini-master,
body.colorWhiteBlue .p-menu .p-menuitem-link,
body.colorWhiteBlue .p-menu .p-menuitem-link:hover,
body.colorWhiteBlue .p-menu .p-submenu-header,
body.colorWhiteBlue .p-menu,
body.colorWhiteBlue .p-tieredmenu,
body.colorWhiteBlue .p-tieredmenu .p-submenu-list,
body.colorWhiteBlue .p-dropdown,
body.colorWhiteBlue .p-multiselect,
body.colorWhiteBlue .p-multiselect-items,
body.colorWhiteBlue .p-dropdown-items,
body.colorWhiteBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
body.colorWhiteBlue .p-dropdown.p-dropdown-clearable .p-dropdown-label,
body.colorWhiteBlue .p-datepicker .p-datepicker-header,
body.colorWhiteBlue .p-datepicker table td > span.p-highlight,
body.colorWhiteBlue .p-datepicker table td:hover > span,
body.colorWhiteBlue .p-calendar .p-inputtext,
body.colorWhiteBlue .list-master .item:hover,
body.colorWhiteBlue .list-master.block .item,
body.colorWhiteBlue .p-multiselect-panel .p-multiselect-header,
body.colorWhiteBlue .p-highlight,
body.colorWhiteBlue .p-checkbox .p-checkbox-box,
body.colorWhiteBlue .p-button,
body.colorWhiteBlue .showAds .ads .information,
body.colorWhiteBlue .p-dropdown-panel .p-dropdown-header,
body.colorWhiteBlue .p-inputtext{
  background: #e1e1e1 !important;
  color: #333 !important;
}

body.colorWhiteBlue .p-menu-separator.ng-star-inserted{
  color: #423d3d !important;
}

body.colorWhiteBlue .border-all-master,
body.colorWhiteBlue .p-datepicker table td.p-datepicker-today > span{
  border: 1px solid #e3e3e3 !important;
}

body.colorWhiteBlue .border-right-master {
  border-right: 1px solid #e3e3e3;
}

body.colorWhiteBlue .border-right-master {
  border-right: 1px solid #e3e3e3;
}

body.colorWhiteBlue .border-bottom-master {
  border-bottom: 1px solid #e3e3e3;
}
body.colorWhiteBlue .border-top-master{
  border-top: 1px solid #e3e3e3;
}

body.colorWhiteBlue .border-shadow-master{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}


body.colorWhiteBlue .border-bottom-light-master {
  border-bottom: 1px solid #494949;
}
body.colorWhiteBlue .border-top-light-master {
  border-top: 1px solid #858585;
}

body.colorWhiteBlue .border-top-max-master,
body.colorWhiteBlue .p-tieredmenu .p-menu-separator{
  border-top: 1px solid #cdcdcd !important;
}

body.colorWhiteBlue .border-all-max-master,
body.colorWhiteBlue .p-inputtext.p-dropdown-filter,
body.colorWhiteBlue .p-inputtext.p-multiselect-filter{
  border: 1px solid #cdcdcd !important;
}

/**
Первый цвет МАКСИМУМ
 */
body.colorWhiteBlue .backOfBackMax,
body.colorWhiteBlue .p-menuitem-active > .p-menuitem-link,
body.colorWhiteBlue .p-menuitem:hover,
body.colorWhiteBlue .p-menuitem .p-menuitem-link:hover,
body.colorWhiteBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover,
body.colorWhiteBlue .p-multiselect.p-multiselect-chip .p-multiselect-token,
body.colorWhiteBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover,
body.colorWhiteBlue .button-1-master.backOfBack:hover{
  background: #cdcdcd !important;
  color: #333 !important;
}
body.colorWhiteBlue h2,
body.colorWhiteBlue h3,
body.colorWhiteBlue h4,
body.colorWhiteBlue h5,
body.colorWhiteBlue .p-dialog .p-dialog-header .p-dialog-title{
  color: #ababab;
}

body.colorWhiteBlue .color-master {
  color: #e2e2e2;
}


body.colorWhiteBlue .color-of-back-master,
body.colorWhiteBlue .p-menuitem-text,
body.colorWhiteBlue .p-menuitem-icon,
body.colorWhiteBlue .p-button.p-button-text,
body.colorWhiteBlue .label-link-master,
body.colorWhiteBlue .p-togglebutton.p-button .p-button-icon-right,
body.colorWhiteBlue .p-datepicker table td.p-datepicker-today > span,
body.colorWhiteBlue .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon,
body.colorWhiteBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item,
body.colorWhiteBlue .p-multiselect-panel .p-multiselect-header .p-multiselect-close,
body.colorWhiteBlue .app-actions-page .text a
{
  color: #333 !important;
}

body.colorWhiteBlue .p-menu .p-menuitem-link:hover .p-menuitem-text,
body.colorWhiteBlue .p-menu .p-menuitem-link:hover .p-menuitem-icon
{
  color: #bebebe !important;
}

body.colorWhiteBlue .backOfWhite{
  background: #f1ebf7 !important;
}

body.colorWhiteBlue .backOfBack.app-clip,
body.colorWhiteBlue .backOfBack.app-event-body{
  background: #e5e5e5 !important;
  color: #1c1c1c !important;
}


body.colorWhiteBlue .color-special-back-master,
body.colorWhiteBlue .mobil_router_button,
body.colorWhiteBlue .p-progressbar .p-progressbar-value{
  background: #009fdf !important;
  color: black !important;
}
body.colorWhiteBlue .color-special-master,
body.colorWhiteBlue .list-master .item.super .name .real-name{
  color: #009fdf;
}

body.colorWhiteBlue .time.not-have-limit .color-special-master.hour,
body.colorWhiteBlue .time.have-limit .color-special-master.name{
  color: #009fdf !important;
}

body.colorWhiteBlue .input-1-master::-webkit-input-placeholder,
body.colorWhiteBlue .input-1-master::placeholder,
body.colorWhiteBlue .p-calendar .p-inputtext::-webkit-input-placeholder,
body.colorWhiteBlue .p-calendar .p-inputtext::placeholder,
body.colorWhiteBlue .p-dropdown.p-dropdown-clearable .p-placeholder,
body.colorWhiteBlue .p-dropdown .p-dropdown-clear-icon,
body.colorWhiteBlue .p-dropdown .p-dropdown-trigger,
body.colorWhiteBlue .p-multiselect .p-multiselect-trigger,
body.colorWhiteBlue .p-multiselect .p-dropdown-trigger,
body.colorWhiteBlue .p-dialog .p-dialog-header .p-dialog-header-icon,
body.colorWhiteBlue .p-datepicker .p-timepicker button,
body.colorWhiteBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message,
body.colorWhiteBlue .placeholder{
  color: #b0b0b0 !important;
}


/* полоса прокрутки (скроллбар) */
body.colorWhiteBlue *::-webkit-scrollbar{
  width: 13px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #807d7d;
}

/* ползунок скроллбара */
body.colorWhiteBlue *::-webkit-scrollbar-thumb{
  background-color: #313131;
  border-radius: 4px;
}

body.colorWhiteBlue *::-webkit-scrollbar-thumb:hover{
  background-color: #232323;
}


