<div class="block-max-fixed-master app-register">

  <!-- Логотип-->
  <div class="logo-master"><img src="departament/img/logo.png"/></div>

  <!-- Форма отправки данных для регистрации -->
  <form [formGroup]="registerForm" class="form">

    <!-- Поле - почта -->
    <div class="p-field p-grid">
      <div class="p-col">
        <input id="emailinput"
               type="text"
               class="input-1-master notradius"
               placeholder="Почта"
               formControlName="email">
      </div>
    </div>

    <!-- Поле - имя-->
    <div class="p-field p-grid">
      <div class="p-col">
        <input
          id="nameinput"
          type="text"
          class="input-1-master notradius"
          placeholder="Имя"
          formControlName="name">
      </div>
    </div>

    <!-- Поле - пароль-->
    <div class="p-field p-grid">
      <div class="p-col">
        <input
          id="passwordinput"
          type="password"
          class="input-1-master notradius"
          placeholder="Пароль"
          formControlName="password">
      </div>
    </div>

    <re-captcha id="recaptcha"
                name="recaptcha"
                (resolved)="resolved($event)"
                #recaptcha="ngModel"
                [(ngModel)]="token"
                required
                [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>

    <!-- Кнопка - создать аккаунт-->
    <div class="buttons">
      <button
        class="button-1-master backOfBack"
        (click)="submit()">создать аккаунт</button>
    </div>

  </form>

  <!-- Ссылка на страницу входа-->
  <p class="label-link-master"><span class="text">Для входа вам </span> <span class="link"
                                                                                     routerLink="/login"> сюда </span>

</div>
