/**
Первый цвет colorBlue
 */
body.colorBlue {
  background: #27577f;
  color: white;
}

body.colorBlue .back {
  background: #27577f;
}
body.colorBlue .p-dialog .p-dialog-header {
  background: #27577f;
  color: white;
}
body.colorBlue .p-dialog .p-dialog-content,
body.colorBlue .p-dialog .p-dialog-footer,
body.colorBlue .p-calendar .p-datepicker,
body.colorBlue .block-max-fixed-master,
body.colorBlue .p-togglebutton.p-button{
  background: #27577f !important;
  color: white !important;
}
body.colorBlue .p-progressbar {
  background: rgba(39, 87, 127, 0);
}

body.colorBlue .backOfBack,
body.colorBlue .button-mini-master,
body.colorBlue .p-menu .p-menuitem-link,
body.colorBlue .p-menu .p-menuitem-link:hover,
body.colorBlue .p-menu .p-submenu-header,
body.colorBlue .p-menu,
body.colorBlue .p-tieredmenu,
body.colorBlue .p-tieredmenu .p-submenu-list,
body.colorBlue .p-dropdown,
body.colorBlue .p-multiselect,
body.colorBlue .p-multiselect-items,
body.colorBlue .p-dropdown-items,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
body.colorBlue .p-dropdown.p-dropdown-clearable .p-dropdown-label,
body.colorBlue .p-datepicker .p-datepicker-header,
body.colorBlue .p-datepicker table td > span.p-highlight,
body.colorBlue .p-datepicker table td:hover > span,
body.colorBlue .p-calendar .p-inputtext,
body.colorBlue .list-master .item:hover,
body.colorBlue .list-master.block .item,
body.colorBlue .p-multiselect-panel .p-multiselect-header,
body.colorBlue .p-highlight,
body.colorBlue .p-checkbox .p-checkbox-box,
body.colorBlue .p-button,
body.colorBlue .showAds .ads .information,
body.colorBlue .p-dropdown-panel .p-dropdown-header,
body.colorBlue .p-inputtext{
  background: #0f3859 !important;
  color: white !important;
}

body.colorBlue .p-menu-separator.ng-star-inserted{
  color: #0f3859 !important;
}

body.colorBlue .border-all-master,
body.colorBlue .p-datepicker table td.p-datepicker-today > span{
  border: 1px solid #0f3859 !important;
}

body.colorBlue .border-right-master {
  border-right: 1px solid #0f3859;
}

body.colorBlue .border-right-master {
  border-right: 1px solid #0f3859;
}

body.colorBlue .border-bottom-master {
  border-bottom: 1px solid #0f3859;
}
body.colorBlue .border-top-master{
  border-top: 1px solid #0f3859 ;
}

body.colorBlue .border-shadow-master{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}


body.colorBlue .border-bottom-light-master {
  border-bottom: 1px solid #3a6589;
}
body.colorBlue .border-top-light-master {
  border-top: 1px solid #3a6589;
}

body.colorBlue .border-top-max-master,
body.colorBlue .p-tieredmenu .p-menu-separator{
  border-top: 1px solid #08263d !important;
}

body.colorBlue .border-all-max-master,
body.colorBlue .p-inputtext.p-dropdown-filter,
body.colorBlue .p-inputtext.p-multiselect-filter{
  border: 1px solid #08263d !important;
}

/**
Первый цвет МАКСИМУМ
 */
body.colorBlue .backOfBackMax,
body.colorBlue .p-menuitem-active > .p-menuitem-link,
body.colorBlue .p-menuitem:hover,
body.colorBlue .p-menuitem .p-menuitem-link:hover,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover,
body.colorBlue .p-multiselect.p-multiselect-chip .p-multiselect-token,
body.colorBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover,
body.colorBlue .button-1-master.backOfBack:hover{
  background: #08263d !important;
  color: white !important;
}
body.colorBlue h2,
body.colorBlue h3,
body.colorBlue h4,
body.colorBlue h5,
body.colorBlue .p-dialog .p-dialog-header .p-dialog-title{
  color: #08263d;
}

body.colorBlue .color-master {
  color: #e2e2e2;
}


body.colorBlue .color-of-back-master,
body.colorBlue .p-menuitem-text,
body.colorBlue .p-menuitem-icon,
body.colorBlue .p-button.p-button-text,
body.colorBlue .label-link-master,
body.colorBlue .p-togglebutton.p-button .p-button-icon-right,
body.colorBlue .p-datepicker table td.p-datepicker-today > span,
body.colorBlue .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon,
body.colorBlue .p-multiselect-panel .p-multiselect-items .p-multiselect-item,
body.colorBlue .p-multiselect-panel .p-multiselect-header .p-multiselect-close,
body.colorBlue .app-actions-page .text a
{
  color: white !important;
}

body.colorBlue .p-menu .p-menuitem-link:hover .p-menuitem-text,
body.colorBlue .p-menu .p-menuitem-link:hover .p-menuitem-icon
{
  color: #bebebe !important;
}

body.colorBlue .backOfWhite,
body.colorBlue .p-progressbar .p-progressbar-value {
  background: #f1ebf7 !important;
}


body.colorBlue .color-special-back-master,
body.colorBlue .mobil_router_button {
  background: #e1bc00 !important;
  color: black !important;
}
body.colorBlue .color-special-master,
body.colorBlue .list-master .item.super .name .real-name{
  color: #e1bc00;
}

body.colorBlue .input-1-master::-webkit-input-placeholder,
body.colorBlue .input-1-master::placeholder,
body.colorBlue .p-calendar .p-inputtext::-webkit-input-placeholder,
body.colorBlue .p-calendar .p-inputtext::placeholder,
body.colorBlue .p-dropdown.p-dropdown-clearable .p-placeholder,
body.colorBlue .p-dropdown .p-dropdown-clear-icon,
body.colorBlue .p-dropdown .p-dropdown-trigger,
body.colorBlue .p-multiselect .p-multiselect-trigger,
body.colorBlue .p-multiselect .p-dropdown-trigger,
body.colorBlue .p-dialog .p-dialog-header .p-dialog-header-icon,
body.colorBlue .p-datepicker .p-timepicker button,
body.colorBlue .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message,
body.colorBlue .placeholder{
  color: #5b7996 !important;
}


/* полоса прокрутки (скроллбар) */
body.colorBlue *::-webkit-scrollbar{
  width: 13px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
body.colorBlue *::-webkit-scrollbar-thumb{
  background-color: #08263d;
  border-radius: 4px;
}

body.colorBlue *::-webkit-scrollbar-thumb:hover{
  background-color: #041a2a;
}






input, textarea, label {outline:none !important;}
input:active, label:active, textarea:active {outline:none !important;}
:focus {outline:none !important; }
textarea, label {resize:none !important;}
textarea, label {resize:vertical !important;}
textarea, label {resize:horizontal !important;}



/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment{
  background: 0;
}

/***

 */

.p-button {
  border: 0 !important;
}

body.mobil-device-master .app-actions-page .header{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
}

h4 {
  margin: 7px 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body.mobil-device-master .app-actions-page .main-block{
  width: 100%;
  position: absolute;
  bottom: -300px;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p-datepicker table td.p-datepicker-today > span {
  background: 0 !important;
}

body.mobil-device-master .app-actions-page.open .main-block {
  bottom: 0;
  transition: .3s;
  max-height: 90%;
  overflow-y: scroll;

}


body.pc-device-master .app-actions-page {
  overflow-y: scroll;
}

body.pc-device-master .app-actions-page.width .main-block{
  width: 800px;
}

body.pc-device-master .app-actions-page .main-block{
  width: 350px;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.7);
}

body.pc-device-master .app-actions-page.open .main-block {
  transition: .3s;
  opacity: 1;
  transform: scale(1);
}


.p-checkbox .p-checkbox-box {
  border: 0 !important;
  box-shadow: 0 0 2px rgba(0,0,0,.3) !important;
}


.toast-master, .p-message,p-inline-message {
  z-index: 5000 !important;
}



body.mobil-device-master .app-clip-body .header .name{
  font-size: 25px;
}

body.pc-device-master .app-clip-body .header .name{
  font-size: 35px;
}

body.mobil-device-master .app-clip-body {
  padding-top: 90px;
}
body.pc-device-master .app-clip-body {
  padding-top: 190px;
}


body.pc-device-master .pointer-master {
  cursor: pointer;
}


body.mobil-device-master .right-page-border-left-master{
  padding-left: 15px;
  padding-right: 15px;
}

body.pc-device-master .right-page-border-left-master{
  padding-left: 60px;
  padding-right: 60px;
}
.p-dialog-withbutton-master .p-dialog-content {
  padding-bottom: 0 !important;
}
.p-togglebutton.p-button {
  border: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.p-inputtext {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.relative-master {
  position: relative;
}

.inputstyleclass {
  width: 100% !important;
}

.calenstyleclass {
  width: 100% !important;
}

.border-radius-master {
  border-radius: 2px;
}

.news-main-block .text img {
  max-width: 100%;
  float: left;
  margin: 4px 12px 4px 0;
}


.loading-master {
  opacity: .4;
  pointer-events: none;
}
.list-master {

}

.list-master.body-self {

}

.list-master .item{
  cursor: pointer;
  /*margin-bottom: 3px;*/
  padding: 7px 12px;
  border-radius: 4px;
}
.list-master.block .item{
  margin-bottom: 6px;
}

.list-master .item .name{
  font-size: 16px;
  font-weight: 600;
}
.list-master .item .name .group {
  opacity: .5;
  font-weight: 400;
  font-size: 12px;
}

.list-master .item .time{
  font-size: 14px;
  opacity: .5;
  transition: .3s;
}

.list-master .still_block{
  text-align: center;
}
.list-master .still_btn{
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
.list-master .still_btn:hover {
  box-shadow: 0 0 3px rgba(0,0,0,.4);
}

.p-inputtextarea-resizable {
  height: auto !important;
}

.list-master .item .description {
  word-wrap: break-word;
  font-size: 14px;
  opacity: .7;
}

.list-master .item:hover .time {
  opacity: .65;
  transition: .3s;
}

.list-master .item:hover .link:hover {
  text-decoration: underline;
}

h2 {
  margin: 7px 0;
}

h3,h5 {
  margin: 10px 0 15px 0;
}

.block-max-fixed-master {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

body.mobil-device-master .block-max-fixed-master{
  padding-top: 120px;
}

body.pc-device-master .block-max-fixed-master{
  padding-top: 250px;
}

body.mobil-device-master .left-padding-master {

}

body.pc-device-master .left-padding-master {
  padding-left: 300px;
}




.block-max-fixed-master .center {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.p-dialog .p-dialog-header {
  padding-bottom: 10px !important;
}

body {
  margin: 0;
  padding: 0;
}

.p-dialog-mask {
  overflow-y: auto !important;
}
.p-inputtext {
  padding: 0.7rem 0.7rem !important;
}
.p-tieredmenu,
.p-dropdown,
.p-multiselect{
  border: 0 !important;
  width: 100% !important;
}

.p-dropdown-clearable {
  width: 100% !important;
}

.p-datepicker .p-datepicker-header{
  border: 0 !important;
}

.p-dropdown,
.p-multiselect{
  width: 100%;
  max-width: 270px;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.p-dialog-content {
  flex-grow: 1;
  overflow: auto;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  font-size: 14px;
}
.app-main-menu .pi-bars:before{
  font-weight: 700;
}

.p-tieredmenu .p-menuitem-active>p-tieredmenusub>.p-submenu-list {
  top: -4px!important;
}

.p-tieredmenu .p-menuitem-link,
.p-tieredmenu .p-menuitem-active,
.p-tieredmenu p-menuitem{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
}

p-sidebar {
  z-index: 1300;
}
.input-1-master,
.p-calendar .p-inputtext{
  padding: 12px 14px !important;
  border: 0 !important;
  width: 100% !important;
  font-size: 14px !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  resize: none !important;
  border-radius: 2px !important;
}

/*body.pc-device-master .event-page .p-dialog-mask {*/
/*  overflow-y: scroll !important;*/
/*}*/

.input-1-master.notradius {
  border-radius: 0 !important;
}

.p-dialog-content {
  overflow: visible !important;
}

.label-link-master {
  color: wheat;
  font-size: 13px;
}

.label-link-master .text{
  opacity: .5;
}

.label-link-master .link{
  cursor: pointer;
  text-decoration: none;
}
.label-link-master .link:hover {
  text-decoration: underline;
}

.label-link-master.link{
  cursor: pointer;
  text-decoration: none;
}
.label-link-master.link:hover {
  text-decoration: underline;
}


.button-1-master {
  padding: 10px 14px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  border: 0 !important;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.button-2-master {
  padding: 10px 14px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  border: 0 !important;
  background: 0 !important;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.button-mini-master {
  padding: 8px 20px;
  border: 0;
  margin: 2px;
  border-radius: 2px;
  cursor: pointer;
  border: 0 !important;
  background: 0 !important;
  border-radius: 20px;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.button-none-master {
  border: 0 !important;
  font-size: 13px !important;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.button-none-master .p-button-icon-left{
  font-size: 12px;
}



.logo-master{
  padding: 15px 0;
}
.logo-master.padding-not{
  padding: 3px 0;
}
.logo-master img{
  height: 40px;
}
.logo-master.logo-size-25 img{
  height: 25px;
}

.clip-link-master{
  position: relative;
  padding-left: 32px !important;
}

.clip-link-master .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 15px;
  margin-top: -6px;
}

.clip-link-master:hover {
  transition: .3s;
  box-shadow: 0 0 4px rgba(0,0,0, .4);
}

.clip-link-master .close{
  height: 18px;
  line-height: 16px;
  width: 18px;
  position: absolute;
  right: -4px;
  top: -6px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 7px rgba(168, 168, 168, 0.3);
  display: none;
}

.clip-link-master:hover .close{
  display: block;
}

.clip-link-master .close img{
  height: 40%;
}

.dropdown-1-master {
  width: 100% !important;
  max-width: 500px;
}

.app-left-body-block {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
}


.page-master {

}

.page-master .header{
  font-size: 13px;
  opacity: .6;
}
.page-master .name{
  font-size: 20px;
  font-weight: 800;
}

.page-master .text{
  font-size: 15px;
  font-weight: 800;
}

.page-master .buttons {

}

.page-master .buttons .button-1-master{
  margin: 2px;
}

.event-page {

}

.event-page .description{
  font-weight: 500;
}

body.mobil-device-master .event-page .description{
  font-size: 22px;
}
body.pc-device-master .event-page .description{
  font-size: 35px;
}

.event-page .time{
  text-align: right;
}
.event-page .time.have-limit .name {
  font-size: 32px;
  font-weight: 700;
}
.event-page .time.have-limit .hour {
  font-size: 22px;
  font-weight: 600;
  padding: 5px 0;
}

.event-page .time.not-have-limit .hour {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
}

.event-page .time .date{
  font-weight: bold;
  opacity: .8;
}

body.mobil-device-master .app-event-body{
  padding: 25px;
}
body.pc-device-master .app-event-body{
  padding: 20px;
}

.opactity-animation-master {
  animation: shadow  1s infinite ease-in-out;
}

@keyframes shadow {
  from {opacity: 0.4;}
  50% {opacity: 1;}
  to {opacity: 0.4;}
}

.mobil_router_button {
  position: fixed;
  bottom: 30px;
  right: 30px;

  height: 50px;
  width: 50px;

  border: 0;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.mobil_router_button img {
  height: 15px;
}

.mobil-border-master {
  padding: 5px 0;
  margin: 5px 0;
  text-align: left;
  max-width: 330px;
  width: 100%;
  display: inline-block;
}

.opacity-button-master {
  opacity: .6 !important;
}

.buttons-body-master {

}

.buttons-body-master button {
  margin: 2px;
}

.buttons-body-master .div {
  display: inline-block;
}


.not-scroll-master {
  scrollbar-width: none;
}

.not-scroll-master::-webkit-scrollbar {
  width: 0 !important;
  background: 0 !important;
}

/*Убрать полосу прокрутки для всей страницы*/
.not-scroll-master::-webkit-scrollbar {
  width: 0 !important;
  background: 0 !important;
}

/* ползунок скроллбара */
.not-scroll-master::-webkit-scrollbar-thumb {
  width: 0 !important;
  background: 0 !important;
}

.not-scroll-master::-webkit-scrollbar-thumb:hover {
  width: 0 !important;
  background: 0 !important;
}

body.pc-device-master .app-actions-page .header-block {
  padding: 20px 20px 0 20px;
}
body.pc-device-master .app-actions-page  .header {
  border-radius: 8px;
}

body.mobil-device-master .showAds{
  height: 160px;
  padding: 20px 20px 0 20px;
  position: relative;
}
body.pc-device-master .showAds{
  position: fixed;
  bottom: -400px;
  left: 0;
  width: 320px;
  height: 300px;
  padding: 0 20px;
  transition: .5s;
}

body.pc-device-master .showAds.show {
  bottom: 15px;
  transition: .5s;
}

body.mobil-device-master .showAds .ads .information{
  top: 11px;
}

body.pc-device-master .showAds .ads .information{
  top: -6px;
}

.state-normal-master {
  color: green;
}
.state-block-master{
  color: #db0c0c;
}

.input-clipboard-master {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.event-page .p-dialog-content{
  padding: 20px 35px 35px 35px !important;
}

re-captcha iframe{
  width: 300px !important;
  max-height: 200px;
}


