<!--Само всплывающее окно-->
<p-dialog class="app-event-limit-create" header="Лимит событий" [(visible)]="isDisplay"
          [style]="{width: '30vw'}" [modal]="true">

  <!-- Форма для отправки на сервера-->
  <form [formGroup]="eventLimitCreateForm" class="form" style="opacity: {{ loadService.status()?'1': '.4'}}">

    <!-- Название лимита-->
    <input id="nameInput"
           class="input-1-master backOfBack"
           type="text"
           placeholder="Название"
           [(ngModel)]="nameValue"
           formControlName="name"/>

    <div class="grid" style="margin-top: 17px">
      <div class="col-6">
<!-- Время начала события-->
        <p-calendar [(ngModel)]="timeFrom"
                    [timeOnly]="true"
                    hourFormat="24"
                    placeholder="Время начала"
                    formControlName="timeFrom"></p-calendar>
      </div>
      <div class="col-6">
<!--  Время конца события-->
        <p-calendar [(ngModel)]="timeTo"
                    [timeOnly]="true"
                    hourFormat="24"
                    placeholder="Время конца"
                    formControlName="timeTo"></p-calendar>
      </div>
    </div>

  </form>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="{{editLimit == null?'Создать':'Изменить'}}"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>
</p-dialog>

