<div class="app-event-list">

  <!-- Окно вывода информации о лимите и изменения -->
  <p-dialog styleClass="page-master event-page"
            [(visible)]="isDisplayPageView"
            [dismissableMask]="true"
            [showHeader]="false"
            (onHide)="hidePage()"
            [breakpoints]="deviceService.getBreakPointsPage()"
            [style]="{width: '33vw'}" [modal]="true" #dialogPage>
    <div *ngIf="eventBody != null" style="padding-top: 25px">


      <div class="description">{{eventBody.event.description}}</div>

      <div style="padding: 6px 0" *ngIf="this.clipMethodService.getClipsWithoutClipArgument(eventBody).length > 0">
        <p class="header-title">Связанно</p>
        <app-clip-link [clip]="clip" [targer]="true"
                       *ngFor="let clip of this.clipMethodService.getClipsWithoutClipArgument(eventBody)"></app-clip-link>
      </div>

      <div class="others"
           *ngIf="functionService.getEventTimeDate(eventBody.event.dates, eventBody.day, eventBody.time).length > 0">
        <p class="header-title">Так же в другие даты после</p>
        <div class="scroll" id="other_scroll_body">
          <div class="sameEvent border-radius-master backOfBack"
               id="other_event_{{calendarService.getDayFormat(dt.date)}}"
               *ngFor="let dt of functionService.getEventTimeDate(eventBody.event.dates, eventBody.day, eventBody.time);">
            <div class="date">{{dt.date | date :'dd.MM'}}</div>
          </div>
        </div>
      </div>

      <div style="padding: 15px 0">
        <div class="time have-limit" *ngIf="limit != null">
          <div class="name color-special-master">{{limit.name}}</div>
          <div class="hour">{{eventBody.time.timeFrom.substr(0, 5)}} - {{eventBody.time.timeTo.substr(0, 5)}}</div>
        </div>

        <div class="time not-have-limit" *ngIf="limit == null">
          <div class="hour color-special-master">{{eventBody.time.timeFrom.substr(0, 5)}}
            - {{eventBody.time.timeTo.substr(0, 5)}}</div>
        </div>
        <div class="time">
          <div class="date">{{eventBody.day | date: 'dd.MM.yyyy'}}</div>
        </div>
      </div>

      <div class="buttons">

        <ng-container *ngIf="roleService.isUserAuth()">
          <p-button
            *ngIf="eventBody.event.createUserId == userService.currentUser.id || roleService.isModeratorOf_3_LevelAndHigher()"
            styleClass="button-1-master backOfBack" label="изменить" icon="pi pi-pencil"
            (click)="dialogPage.close($event); openEditEventPage();"></p-button>

          <p-button
            *ngIf="eventBody.event.createUserId == userService.currentUser.id || roleService.isModeratorOf_3_LevelAndHigher()"
            styleClass="button-1-master backOfBack" label="удалить" icon="pi pi-trash"
            (click)="deleteEventPage();"></p-button>
        </ng-container>

        <p-button  *ngIf="roleService.isUserAuth()" icon="pi pi-send" type="button"
                   label="Сообщить об ошибке" styleClass="button-1-master backOfBack"
                   (click)="openWarnPage()"></p-button>
        <!--        <p-button styleClass="button-1-master backOfBack" label="удалить" icon="pi pi-trash"-->
        <!--                  (click)="deleteEventLimit(selectedLimit.id)"></p-button>-->
      </div>

    </div>

  </p-dialog>
</div>

<!--компонент для создания события-->
<app-event-create #eventCreate></app-event-create>



