
.others {
  padding: 10px 0 15px 0 ;
  overflow: hidden;
}

.header-title {
  margin: 5px 5px 5px 0;
  opacity: .6;
  font-size: 12px;
}

.others .sameEvent{
 display: inline-block;
  padding: 6px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.others .sameEvent .date {

}
.others .sameEvent .time {
  opacity: .4;
  font-size: 13px;
}

.others .scroll {

}

.others .scroll::-webkit-scrollbar {
  width: 0;
}

.others .scroll::-webkit-scrollbar-thumb{
  width: 0;
}




