<!--Само всплывающее окно-->
<p-dialog class="app-warn-create"
          header="Сообщите об ошибке"
          [(visible)]="isDisplay"
          [breakpoints]="deviceService.getBreakPointsPage()"
          [style]="{width: '30vw'}"
          [modal]="true">

  <!-- Форма для отправки на сервера-->
  <form *ngIf="createWarnForm != null" [formGroup]="createWarnForm" class="form"
        style="opacity: {{ loadService.status()?'1': '.4'}}">

    <div class="patterns not-scroll-master">
      <div *ngFor="let pattern of patternsWarns"
           class="pattern border-all-master border-radius-master"
           (click)="selectPattern(pattern)">{{pattern}}</div>
    </div>

    <!-- Текст предупреждения-->
    <textarea
      id="descriptionTextarea"
      class="input-1-master backOfBack"
      style="margin-top: 15px;margin-bottom: 15px;"
      placeholder="Текст ошибки"
      rows="5" cols="30"
      pInputTextarea
      [autoResize]="true"
      formControlName="text"></textarea>

  </form>

  <re-captcha id="recaptcha"
              name="recaptcha"
              (resolved)="resolved($event)"
              #recaptcha="ngModel"
              [(ngModel)]="token"
              required
              [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>

  <ng-template pTemplate="footer">

    <!-- Кнопка отправки формы-->
    <p-button icon="pi pi-check"
              label="Отправить"
              styleClass="p-button-text"
              [disabled]="!loadService.status()"
              (click)="submit()"></p-button>
  </ng-template>

</p-dialog>
